<!DOCTYPE html>
	<html lang="en">
		<head>
			<title>{{ page.title }}</title>
			<link rel="stylesheet" type="text/css" href="/css/undo.css"/>
			<link rel="stylesheet" type="text/css" href="/css/main.css"/>
			
			<!--meta-->
			<meta name="viewport" 	 content="width=device-width, initial-scale=1.0"/>
			<meta name="description" content="If you've found this corner of the internet, you must be looking."/>
			<meta name="keywords"	 content="lucas, smith, lucas smith, programmer, back-end, n00b"/>
			<meta name="author"	 content="Lucas Smith"/>
		</head>
		<body>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:&#105;&#110;ter&#115;&#116;&#105;&#116;&#105;alit&#121;@&#115;d&#102;.&#99;&#111;m">email</a></li>
	        		<li><a href="https://github.com/interstitiality">github.com/interstitiality</a></li>
				</ul>
			</footer>
		</body>
	</html>

